<div class="not-found-container">
    <div class="content">
        <div class="icon-blob">
            <div class="number">404</div>
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M43.7,-67.2C55.4,-57.9,62.8,-42.9,67.6,-28.1C72.4,-13.3,74.6,1.4,70.9,14.6C67.2,27.9,57.7,39.6,46,49.2C34.3,58.8,20.4,66.2,5.2,69.1C-9.9,71.9,-26.3,70.3,-38.6,62.1C-50.9,53.8,-59,38.9,-65.1,23.5C-71.1,8.1,-75.1,-7.8,-70.7,-21.5C-66.3,-35.3,-53.4,-47,-40.1,-55.8C-26.7,-64.5,-13.4,-70.4,1,-72C15.4,-73.6,30.8,-71.1,43.7,-67.2Z"
                    transform="translate(100 100)" />
            </svg>
        </div>
        <h1>Oups ! Page Introuvable</h1>
        <p>Il semble que le pipeline de votre URL ait échoué. La ressource demandée n'existe pas ou "a été déplacée.</p>

        <div class="actions">
            <button routerLink="/dashboard" class="btn-primary">
                Retour au Dashboard
            </button>
        </div>
    </div>
</div>
